<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
  xsi:schemaLocation="http://mybatis.org/schema/mybatis-spring
  http://mybatis.org/schema/mybatis-spring-1.2.xsd
  http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context-4.0.xsd
  http://www.springframework.org/schema/tx
  http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
  <!-- 数据源 -->
  <context:property-placeholder location="classpath:db.properties"/>
  <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
    <property name="driverClass" value="${jdbc.driver}"></property>
    <property name="jdbcUrl" value="${jdbc.url}"></property>
    <property name="user" value="${jdbc.username}"></property>
    <property name="password" value="${jdbc.password}"></property>
  </bean>
  <!-- 事务管理器 -->
  <bean id="dataSourceTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="dataSource"></property>
  </bean>
  <!-- 基于注解的事务管理 -->
  <tx:annotation-driven transaction-manager="dataSourceTransactionManager"/>
  <!--  替换sqlSessionFactoryBean
    mybatis:org.mybatis.spring.SqlSessionFactoryBean
    mp: com.baomidou.mybatisplus.spring.MybatisSqlSessionFactoryBean
  -->
  <!-- 配置 SqlSessionFactoryBean -->
  <bean id="sqlSessionFactoryBean" class="com.baomidou.mybatisplus.spring.MybatisSqlSessionFactoryBean">
    <!-- 数据源 -->
    <property name="dataSource" ref="dataSource"></property>
    <property name="configLocation" value="classpath:mybatis-config.xml"></property>
    <!-- 别名处理 -->
    <property name="typeAliasesPackage" value="com.nq.beans"></property>
    <!-- mp全局配置 -->
    <property name="globalConfig" ref="globalConfiguration"/>
    <!-- mp插件注册配置 -->
    <property name="plugins">
      <list>
        <!--分页插件-->
        <bean class="com.baomidou.mybatisplus.plugins.PaginationInterceptor"/>
        <!--SQL执行分析插件-->
        <bean class="com.baomidou.mybatisplus.plugins.SqlExplainInterceptor">
          <property name="stopProceed" value="true"/>
        </bean>
        <!--性能分析插件 - 生产不推荐-->
        <bean class="com.baomidou.mybatisplus.plugins.PerformanceInterceptor">
          <property name="format" value="true"/>
          <!--          <property name="maxTime" value="5"/>-->
        </bean>

        <!--乐观锁插件-->
        <bean class="com.baomidou.mybatisplus.plugins.OptimisticLockerInterceptor"/>

      </list>
    </property>

  </bean>

  <!--mybatisplus全局配置-->
  <bean id="globalConfiguration" class="com.baomidou.mybatisplus.entity.GlobalConfiguration">
    <!--2.3版本以后 默认开启true-->
    <property name="dbColumnUnderline" value="true"/>
    <!--全局id策略-->
    <property name="idType" value="0"/>
    <!--表前缀-->
    <property name="tablePrefix" value="tbl_"/>
    <!--自定义操作-->
    <!--    <property name="sqlInjector" ref="mysqlInjector"/>-->
    <property name="sqlInjector" ref="logicSqlInjector"/>
    <!--逻辑删除全局值-->
    <property name="logicDeleteValue" value="-1"/>
    <property name="logicNotDeleteValue" value="1"/>

    <property name="metaObjectHandler" ref="metaObjectHandler"/>
  </bean>
  <!--自定义注入器-->
  <bean id="mysqlInjector" class="com.alfred.mp.injector.MysqlInjector"/>
  <!--逻辑删除注入器-->
  <bean id="logicSqlInjector" class="com.baomidou.mybatisplus.mapper.LogicSqlInjector"/>
  <!--公共字段处理器-->
  <bean id="metaObjectHandler" class="com.alfred.mp.hanlder.MyMetaObjectHandler"/>
  <!--
  配置 mybatis 扫描 mapper 接口的路径
  -->
  <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    <property name="basePackage" value="com.alfred.mp.mapper"></property>
  </bean>
</beans>