<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app"></div>

    <template id="my-app">
        <!-- v-model textarea -->
        <label for="intro">
            <textarea name="intro" id="intro" cols="30" rows="10" v-model="intro"></textarea>
        </label>
        <h2>intro:{{intro}}</h2>

        <!-- checkbox 单选-->
        <label for="isAgree">
            <input type="checkbox" name="isAgree" id="isAgree" v-model="isAgree"> 同意协议
        </label>
        <h2>isAgree:{{isAgree}}</h2>

        <!-- checkbox 多选-->
        <span>爱好</span>
        <label for="basketball">
            <input type="checkbox" name="basketball" id="basketball" v-model="hobbies" value="basketball"> basketball
        </label>
        <label for="football">
            <input type="checkbox" name="football" id="football" v-model="hobbies" value="football"> football
        </label>
        <label for="tennis">
            <input type="checkbox" name="tennis" id="tennis" v-model="hobbies" value="tennis"> basketball
        </label>
        <h2>hobbies:{{hobbies}}</h2>

        <!-- radio -->
        <span>性别</span>
        <label for="male">
            <input type="radio" name="male" id="male" v-model="gender" value="male">male
        </label>
        <label for="female">
            <input type="radio" name="female" id="female" v-model="gender" value="female">female
        </label>
        <h2>gender:{{gender}}</h2>

        <!-- select -->
        <span>水果</span>
        <select name="fruits" id="fruits" v-model="fruits">
            <!-- 多选设置 -->
        <!-- <select name="fruits" id="fruits" v-model="fruits" multiple> -->
            <option value="apple">apple</option>
            <option value="banana">banana</option>
            <option value="orange">orange</option>
        </select>
        <h2>fruits:{{fruits}}</h2>
    </template>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const App = {
            template: "#my-app",
            data() {
                return {
                    intro: "",
                    isAgree: false,
                    hobbies: [],
                    gender: "female",
                    fruits:"apple"
                }
            }
        }

        Vue.createApp(App).mount('#app');
    </script>
</body>

</html>